<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="icon" href="../img/weather.png" />
<link rel="stylesheet" href="../css/styles.css" />
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus autem impedit voluptatem molestiae vero quo sed cumque, rerum labore. Quis natus reiciendis mollitia alias amet ullam distinctio sapiente voluptatibus? Consequuntur.</p>

        <form>
            <input placeholder="Location" />
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="../js/app.js" ></script>
</body>
</html>